.del{
    background: red;
    color: white;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    float: right
}
.todo{
    background: lightgray;
    padding: 10;
    border-bottom: 2px #ccc dotted;
}
.is-complete{
    text-decoration: line-through;
}